{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/players.webp' %}" width="100%">
            </div>
            <div class="col-2">
                {% if messages %}
                <div class="message-container">
                    {% for msg in messages %}
                        <ul class="{{ msg.tags }}">{{ msg }}</ul>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username">
                        
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="text" name="username" maxlength="10" minlength="2" required placeholder="Username">
                        <input type="email" name="email" maxlength="20" minlength="2" required placeholder="Email">
                        <input type="text" name="address" maxlength="10" minlength="2" required placeholder="address">
                        <input type="password" name="password" maxlength="6" minlength="2" required placeholder="Password">
                        <input type="text" name="phone" maxlength="10" minlength="2" required placeholder="Phone Number">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>